---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O mě"
	description="Kdo jsem?"
	pubDate={new Date('February 21, 2026')}
>
	<h3>Hi, I am Daniel!</h3>

	<p>
		Jmenuji se Daniel Mandinec, je mi 20 let. Jsem někdo, kdo by se dal nazvat jako <b>Sysadmin cosplayer</b>.
		Počítače mě zajímaly od doby, co jsem se stal teenagerem. Většinou jsem byl zaujat funkcí operačních systémů,
		než programováním. Mým hlavním zájmem bylo to, jak operační systémy fungují, jaké jsou rozdíli mezi nimi. Také
		 jsem už od dětství miloval hraní her, což mě později přivedlo k tomu, že jsem se začal zajímat o počítače. 
	</p>
</Layout>
