---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import StarfieldBackground from '../components/Starfield.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="cs">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				color: #fdf6e3;
			}
			h1 {
				color: #fdf6e3;
			}
			p, li {
				color: #fdf6e3;
				text-align: center;
			}
			a {
				color: #268bd2;
			}
			a:hover {
				color: #2aa198;
			}
			code {
				color: #eee8d5;
				background-color: rgba(0, 0, 0, 0.3);
				padding: 0.2em 0.4em;
				border-radius: 3px;
			}
		</style>
	</head>
	<body>
		<StarfieldBackground />
		<Header />
		<main>
			<h1>Vítejte na mé stránce!</h1>
			
			<p>
				Zdravím, jméno mé <b>Daniel Mandinec</b> jest.
			</p>

			<p>
				Aktuálně Jsem studentem Vyšší odborné školy informačních studií, studuji obor Síťové a zabezpečovací technologie, s konkrétním zaměřením 
				na počítačové sítě. Zajímá mě správa sítí, práce s hardwarem a softwarem.
			</p>
		</main>
		<Footer />
	</body>
</html>
