---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import StarfieldBackground from '../components/Starfield.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="cs">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body, h1, h3, p { color: #fdf6e3; }
			p { text-align: center; }
		</style>
	</head>
	<body>
		<StarfieldBackground />
		<Header />
		<main>
			<h1>Vítejte na mé stránce!</h1>
			
			<p>
				Zdravím, jméno mé <b>Daniel Mandinec</b> jest.
			</p>

			<p>
				Aktuálně Jsem studentem Vyšší odborné školy informačních studií, studuji obor Síťové a zabezpečovací technologie, s konkrétním zaměřením 
				na počítačové sítě. Zajímá mě správa sítí, práce s hardwarem a softwarem.
			</p>

			<h3>Hi, I am Daniel!</h3>

			<p>
				Jmenuji se Daniel Mandinec, je mi 20 let. Jsem někdo, kdo by se dal nazvat jako <b>Sysadmin cosplayer</b>.
				Počítače mě zajímaly od doby, co jsem se stal teenagerem. Většinou jsem byl zaujat funkcí operačních systémů,
				než programováním. Mým hlavním zájmem bylo to, jak operační systémy fungují, jaké jsou rozdíli mezi nimi. Také
				 jsem už od dětství miloval hraní her, což mě později přivedlo k tomu, že jsem se začal zajímat o počítače. 
			</p>
		</main>
		<Footer />
	</body>
</html>
